body {
	margin : 0;
	overflow-x: auto;
	overflow-y: auto;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	position: fixed;
	overflow: auto;
	width: 25%;
	height: 100%;
}
li a {
	display: block;
	ground-color: inherit;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 35px 5px 20px 10px;
	padding: 5px;
}

li a:hover{
	background-color: #5cd161;
}

.nav-active {
  background-color: #4CAF50;
  color: white;
}

.non-active {
  background-color: #ccc;
  color: white;
}
.heading-paragraph {
	font-size: 25px;
	font-family: inherit;
	font-style: normal;
	position: sticky;
	top: 30px;
	display: block;
	background-color: #f1f1f1;
	margin-top: 40px;
}
.stick-top-header {
	position: sticky;
	top: 0.1px;
	display: block;
	background-color: #f1f1f1;
	margin-top: 40px;
}
.main-body{
	transition: margin-left .1s;
	margin-left: 25%;
	padding:1px 16px;
	height:auto;
	margin-bottom: 5%;
}
.close-btn{
	position: relative;
	right: 5px;
	float: right;
	z-index: 1;
	display: inline;
	margin: 5px !important;
	padding: 2px !important;
	background-color: #f1f1f1;
}
.open-btn {
	float: left;
	position: relative;
}
.inner-tab-div{
	display: block;
	min-width: 50%;
	height:50%;
	margin: 20px;
	position: absolute;
	background-color: #eadbdb;
	overflow-x: auto;
	overflow-y: auto;
}
.inner-tab-aLink{
	display: inline;
	width: 50%;
	position: relative;
	float: left;
	text-align: center;
	background-color: 	#c5aa6a;
	color: black;
}
.inner-tab-aLink a{
	text-decoration: none;
	font-size: 20px;
}
.inner-tab-aLink a:hover{
	text-decoration: underline;
}
.inner-tab-content{
	width: 200px;
	height: 200px;
	position: relative;
}
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
  overflow-x: auto;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}
code {
	padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid rgba(51,51,51,.1);
    background: #f5f2f0;
    color: #3a3a3a;
}